:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.card {
	background-color: #181818; /* Card background */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 4px 8px rgba(255, 245, 255, 0.543); /* Subtle shadow */
	padding: 20px; /* Inner spacing */
	margin: 20px; /* Outer spacing */
	transition: transform 0.2s; /* Smooth hover effect */
}

form {
	align-content: center;
	row-gap: 20px;
	align-items: center;
	display: flex;
	flex-direction: column;
	button {
    	width: 90px;
	}
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}
